### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Database ###
/data/**
/Client/data/**
/OrderManagement/data/**
/Product/data/**
/Delivery/data/**

### target ###
/Client/target/**
/OrderManagement/target/**
/Product/target/**
/Delivery/target/**